<!DOCTYPE>
<html>
  <head>
    <styl type="text/css">
      .turbolinks-progerss-bar {
      position: fixed;
      disply: block;
      top: 0;
      left: 0;
      hight: 3px;
      background: #0076ff;
      z-index: 9999;
      transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
      transfrom: translate3d(0,0,0,);
      }
    </styl>
    <link rel="stylesheet" media="all" href="/assets/stylesheet/application.css" turbolinks-track="reload">
   <title>BackendNew</title>
   
  </head>
  <body>
    
   <p id="notice"></p>
   
   <h1>Books</h1>
   
   <table>
     <thead>
       <tr>
         <th>title</th>
         <th>Body</th>
         <th colspan="3"></th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <tb>リーダブルコード</tb>
         <tb>より良いコード書くためにシンプルで実践的なテクニック</tb>
         <tb>
           <a class="show_74960" href="/books/74960">Show</a>
         </tb>
         <tb>
           <a class="edit_74960" href="/books/74960/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74960" rel="nofollow" date-method="delete" href="/books/74960">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>トラブル知らずのシステム設計</tb>
         <tb>システム設計の要点を図解で説明してくれます。</tb>
         <tb>
           <a class="show_74961" href="/books/74961">Show</a>
         </tb>
         <tb>
           <a class="edit_74961" href="/books/74961/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74961" rel="nofollow" date-method="delete" href="/books/74961">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>たのしいRuby</tb>
         <tb>Rubyの入門におすすめです</tb>
         <tb>
           <a class="show_74962" href="/books/74962">Show</a>
         </tb>
         <tb>
           <a class="edit_74962" href="/books/74962/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74962" rel="nofollow" date-method="delete" href="/books/74962">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>入門Git</tb>
         <tb>gitについて基本の操作から内部構造まで解説してくれます</tb>
         <tb>
           <a class="show_74963" href="/books/74963">Show</a>
         </tb>
         <tb>
           <a class="edit_74963" href="/books/74963/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74963" rel="nofollow" date-method="delete" href="/books/74963">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>アルゴリズム図鑑</tb>
         <tb>アルゴリズムについてカラーイラストでしっかり解説してくれます</tb>
         <tb>
           <a class="show_74964" href="/books/74964">Show</a>
         </tb>
         <tb>
           <a class="edit_74964" href="/books/74964/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74964" rel="nofollow" date-method="delete" href="/books/74964">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>達人プログラマー</tb>
         <tb>プログラム入門者は必読！</tb>
         <tb>
           <a class="show_74965" href="/books/74965">Show</a>
         </tb>
         <tb>
           <a class="edit_74965" href="/books/74965/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74965" rel="nofollow" date-method="delete" href="/books/74965">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>データベース実践入門</tb>
         <tb>効率的なSQL文を教えてくれます</tb>
         <tb>
           <a class="show_74966" href="/books/74966">Show</a>
         </tb>
         <tb>
           <a class="edit_74966" href="/books/74966/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74966" rel="nofollow" date-method="delete" href="/books/74966">Destroy</a>
         </tb> 
       </tr>
       
       <tr>
         <tb>Rails</tb>
         <tb>Ruby on Rails</tb>
         <tb>
           <a class="show_74967" href="/books/74967">Show</a>
         </tb>
         <tb>
           <a class="edit_74967" href="/books/74967/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74967" rel="nofollow" date-method="delete" href="/books/74967">Destroy</a>
         </tb> 
       </tr>
       
         <tb>
           <tb>本</tb>
         <tb>読みたい</tb>
         <tb>
           <a class="show_74969" href="/books/74969">Show</a>
         </tb>
         <tb>
           <a class="edit_74969" href="/books/74969/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74969" rel="nofollow" date-method="delete" href="/books/74969">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>aa</tb>
         <tb>zz</tb>
         <tb>
           <a class="show_74970" href="/books/74970">Show</a>
         </tb>
         <tb>
           <a class="edit_74970" href="/books/74970/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74970" rel="nofollow" date-method="delete" href="/books/74970">Destroy</a>
         </tb>
       </tr>
       
       <tr>
         <tb>a</tb>
         <tb>a</tb>
         <tb>
           <a class="show_74971" href="/books/74971">Show</a>
         </tb>
         <tb>
           <a class="edit_74971" href="/books/74971/edit">Edit</a>
         </tb>
         <tb>
           <a data-confilm="Are you sure?" class="destroy_74971" rel="nofollow" date-method="delete" href="/books/74971">Destroy</a>
         </tb>
       </tr>
      </tbody>
      
     </table>
     
     <h2>New Book</h2>
     
     <from class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="✓"> 
      
      <div class="filed">
       <label for="book_title">Title</label>
       <input class="book_title" type="text" name="book[title]" id="book_title">
      </div>
      
       <div class="filed">
         <label for="bbok_body">Body</label>
         <textarea class="book_body" name="book[body]" id="book_body"></textarea>
        </div>
        
      <div class="actions">
        <input type="submit" name="commit" value="Create Book" date-disable-with="Create Book">
      </div>
      </from>
  </body>
</html>