<!DOCTYPE html>
<html lang="ja">
  
<head>
    <title>books</title>
    <meta charset="UTF-8" />
    <meta name="csrf-param" content="authentiicity_token">
    <link rel="stylesheet" media="all" href="/assets/stylesheet/application.css" turbolinks-track="reload">
   
  </head>

  <body>
    <h1>"ようこそ"
    <strong>Boookers</strong>
    "へ！"
    </h1>
    <p>
      <storng>"Bookers"</storng>
      "では、さまざまな書籍に関するあなたあの意見や”
    </p>
    <p>印象を共有し交換することができます</p>
    <p>
    <a href="/books">start</a>
    </p>
  </body>
</html>